*.vsidx
/chat-api/chat.apis/obj
/chat-api/chat.apis/obj
/chat-api/chat.apis/obj/Debug
chat-api/chat.apis/obj/Debug/net8.0/chat.apis.AssemblyInfo.cs
/chat-backend/node_modules
/chat-frontend/node_modules
